<% if (item.link){ %>
  <% if (item.title){ %>
    <h1 class="title">
      <a href="<%- item.link %>" target="_blank">
        <%= item.title %>
      </a>
    </h1>
    <% } else { %>
      <h1 class="title">
        <a href="<%- item.link %>" target="_blank">
          <%= item.link %>
        </a>
      </h1>
      <% } %>
        <% } else { %>
          <div class="entry">
            <blockquote class="title">
              <% if (index){ %>
                <a href="<%- config.root %><%- item.path %>">
                  <%= item.title %>
                </a>
                <% } else { %>
                  <%= item.title %>
                    <% } %>
            </blockquote>
          </div>
          <% } %>